# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# H2 file database
data/

# Frontend
node_modules/
.nuxt/
.output/
dist/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
